@tailwind base;
@tailwind components;
@tailwind utilities;



/* inter Font Setup */
@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-Thin-BETA.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-ExtraLight-BETA.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-Light-BETA.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/app/lib/inter/Inter-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/* Add all other Inter font weights here... */

/* Font Utility Classes */
.font-inter { 
  font-family: var(--font-inter) !important; 
}

.font-thin { font-weight: 100 !important; }
.font-extralight { font-weight: 200 !important; }
.font-light { font-weight: 300 !important; }
.font-325 { font-weight: 325 !important; }
.font-350 { font-weight: 350 !important; }
.font-normal { font-weight: 400 !important; }
.font-book { font-weight: 400 !important; }
.font-medium { font-weight: 500 !important; }
.font-semibold { font-weight: 600 !important; }
.font-bold { font-weight: 700 !important; }
.font-extrabold { font-weight: 800 !important; }
.font-black { font-weight: 900 !important; }
:root {
  --background: #FAFAFA;
}

body {
    background: var(--background);
  }